<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(property='og:url' content='https://aweiisme.github.io/awei-page/home.html')
        meta(property='og:locale' content='zh-tw')
        meta(property='og:type' content='website')
        meta(property='og:title' content='Aweiisme')
        meta(property='og:description' content='正偉的個人網頁')
        meta(property='og:image' content='https://aweiisme.github.io/awei-page/img/CWH.png')
        meta(property='og:image:alt' content='Hsieh Cheng-Wei')
        meta(property='og:image:type' content='image/png')
        meta(property='og:image:width' content='50px')
        meta(property='og:image:height' content='50px')
        title C.W Hsieh
        //- 標題圖示
        <link rel="icon" type="image/png" sizes="32x32" href="img/Yoru.svg">

        link(rel="stylesheet" href="css/home.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&amp;display=swap")

        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js")
        script(src="https://kit.fontawesome.com/e92000f9e2.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js")
        script(src="home.js")


    body
        header
            .container
                .h1
                    //- h1 CWY Studio
                    h1 C.W Hsieh
                    //- h4 CWY 工作室
                hr
                .h4
                    //- h4 Hi, I am Hsieh Cheng-Wei
                    //- h4 嗨 ~ 我是正偉歡迎來到這裡 
                h5.mt-5 點擊 LOGO <br>進入頁面
                .fas.fa-caret-down

            .css-cubes
                .css-cube.c1
                .css-cube.c2
                .css-cube.c4
                .css-cube.c3

            a(href="index.html")
                img.logo(src="img/CWH.svg", alt="")